Patchlist for {{ inventory_hostname }}

! CSV
"Description (Cust: vlanid / name (Raumnummer/Hostname) {Patchpanelbeschriftung} [1Gbit])",Switchport,VLAN,Switchname
{% for interfaces , value in interfaces.iteritems() %}
{% if value.switchport_mode is defined  %}
{% if value.description is defined  %}
{% if value.vlan_id is defined  %}

"{{ value.description }}","{{ interfaces }}","{{ value.vlan_id }}"," {{ inventory_hostname }}"
{% else %}

"{{ value.description }}","{{ interfaces }}","trunk"," {{ inventory_hostname }}"

{% endif %}
{% endif %}
{% endif %}
{% endfor %}